<h2>Control Flow</h2>
<!-- <h3>Seção 7.31</h3>

<div>
  <button (click)="handleView()">change</button>
</div>

Forma Nova
<div>
  <h3>IF</h3>
  @if (isTrue) {
  <p>OK!</p>
  } @else{
  <p>Oh Nooo!</p>
  }
</div> -->

<!-- Forma Antiga
<div>
  <ng-container *ngIf="isTrue; else isFalse">
    <p>Oh Yes!</p>
  </ng-container>

  <ng-template #isFalse>
    Oh No, it's not correct!
  </ng-template>
</div> -->

<!-- <h3>Seção 7.32</h3>
<h3>IF, FOR</h3>
Forma Nova Opção 1
<div>
  @if (loadingData$ | async; as data) {
  <ul>
    @for (item of data; track item) {
    <li>{{item}}</li>
    }
  </ul>
  } @else {
  <p>Carregando...</p>
  }
</div> -->

<!-- Forma Nova Opção 2
<div>
  <ul>
    @for (item of loadingData$ | async; track item) {
    <li>{{ item }}</li>
    }
  </ul>
</div> -->

<!-- Forma Antiga Opção 1
<ng-container *ngIf="loadingData$ | async as data; else loading">
  <ul>
    <ng-container *ngFor="let item of data;">
      <li>{{item}}</li>
    </ng-container>
  </ul>
</ng-container>
<ng-template #loading>
  <p>Carregando...</p>
</ng-template> -->

<!-- Forma Antiga Opção 2
<ng-container *ngIf="loadingData$ | async as data; else loading">
  <ul>
    <ng-container *ngFor="let item of data; trackBy: trackByFn">
      <li>{{item}}</li>
    </ng-container>
  </ul>
</ng-container>
<ng-template #loading>
  <p>Carregando...</p>
</ng-template> -->

<!-- <h3>Seção 7.33</h3>
<h4>IF, For</h4>

<hr> -->

<!-- Forma Nova -->
<!-- @for (
item of itens; track item.name;
let i = $index;
let c = $count;
let f = $first;
let l = $last;
let e = $even;
let o = $odd;
) {
<P>{{item.name}}</P>
<P>index - {{i}}</P>
<P>count - {{c}}</P>
<P>first - {{f}}</P>
<P>last - {{l}}</P>
<P>even - {{e}}</P>
<P>odd - {{o}}</P>
}

<hr> -->

<!-- Forma Antiga -->
<!-- <ng-container *ngFor="
  let item of itens;
  let i = index;
  let c = count;
  let f = first;
  let l = last;
  let e = even;
  let o = odd;
">
  <p>{{item.name}}</p>
  <p>index - {{i}}</p>
  <p>count - {{c}}</p>
  <p>first - {{f}}</p>
  <p>last - {{l}}</p>
  <p>even - {{e}}</p>
  <p>odd - {{o}}</p>
</ng-container>

<hr>


<input #name>
<button (click)="addNewName(name.value)">Add Name</button> -->

<!-- <h3>Seção 7.34</h3>
<h4>IF, For</h4> -->

<!-- Forma Nova -->
<!-- <ul>
  @for (item of itens; track item.name) {
  <li> {{ item.name }} </li>
  } @empty {
  <li>Não contém valores</li>
  }
</ul> -->

<!-- Forma Antiga -->
<!-- <ul>
  <ng-container *ngIf="itens.length === 0; else itensExist">
    <li>Não contém valores</li>
  </ng-container>
  <ng-container *ngFor="let item of itens">
    <li>
      {{item.name}}
    </li>
  </ng-container>
  <ng-template #itensExist></ng-template>
</ul> -->

<h3>Seção 7.35</h3>
<h4>IF, For, SWITCH CASE</h4>

<!-- Nofa Forma -->
@switch (switchCondition) {
@case("A"){
<p>Sim sua letra é: A</p>
}

@case ("B") {
<p>Sim sua letra é: B</p>
}

@default {
<p>Os dados não foram encontrados</p>
}
}

<!-- Forma Antiga -->
<ng-container [ngSwitch]="switchCondition">
  <ng-container *ngSwitchCase="'A'">
    <p>Sim sua letra é: A</p>
  </ng-container>

  <ng-container *ngSwitchCase="'B'">
    <p>Sim sua letra é: B</p>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <p>Os dados não foram encontrados</p>
  </ng-container>
</ng-container>
